*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/VideoInt.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/diversidades.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/fhdlibre.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/promo[[:space:]]entrada[[:space:]]quillacollo.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
